.milk-tea-home-banner {
  position: relative;
}

.milk-tea-home-banner_cover {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* slate-100 */
  background: linear-gradient(to bottom, transparent 0%z, transparent 50%, #f1f5f9);
  pointer-events: none;
}
