@import 'weapp-tailwindcss';

/* 自定义阴影 */
.ui-shadow-sm {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.ui-shadow,
.ui-shadow-base {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.09);
}

.ui-shadow-md {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.11);
}

.ui-shadow-lg {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.13);
}

.ui-shadow-xl {
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
}

.ui-shadow-2xl {
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.17);
}
